body{
    width: 100%;
    margin: 0;
    padding: 0;

}
a{
    color: rgb(239, 148, 21);
}
h1{
    text-align: center;
}
  #img {
    width: auto;
    height: auto;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 5px solid;
    text-align: center;
}
#main{
    background-color: bisque;
    padding-left: 10PX;
    display: inline-block;
    line-height: 20px;

}

#title{
    text-align: center;
    font-size: 3vw;
    color: #2c3e50;
    font-weight: bold;
    text-shadow: 3px 3px 6px #7f8c8d;
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#img-caption{
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;

}
#tribut-info{
    color: rgb(28, 27, 27);
    margin-right: 30px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
    
}
u{
    color: #101010;
}
h4{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
    background: rgb(236, 213, 58);
    padding: 10px;
    margin-right: 30px;
    margin-left: 20px;
    border-radius: 8px;

}
#tribut-link:hover{
    color: #070707;;
}
@media (max-width:600px) {
    #image{
        width: 100%;
        height: auto;
        max-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        border: 3px solid black;
    }
    #main{
        padding-left: 10px;
        display: inline-block;
        padding-right: 10px;
    }
    #title{
        text-align: center;
        font-size: 16px;
        font-weight: 20px;
        text-decoration: underline;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #img-caption{
        text-align: center;
        font-family: monospace;
        font-size: 8px;
        font-weight: bold;
        margin-top: 0px;
    }
    #tribute-info{
        font-size: 12px;
        margin-right: 20px;

    }
    h4{
        text-align: center;
        margin-bottom: 5px;
        padding-bottom: 20px;
        margin-right: 20px;
        font-size: 12px;

    }
    #tribute-link:hover{
        color: black;
    }
}